[Desktop Entry]
Comment=Aurorae theme black and white
Name=DotsB&W
X-KDE-PluginInfo-Author=reiken27
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=emiliano.reiken@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-Name=DotsB&W
X-KDE-PluginInfo-Version=1.0
